/* COLORS */
$THEME_COLOR: purple;
$TEXT_COLOR: #000;
$BACKGROUND_COLOR: #FFF;
$THEME_COLOR_LIGHT: #DDD;
$TEXT_ON_DARK: #FFF;
$TEXT_ON_LIGHT: #000;

/* TYPOGRAPHY */
$FONT_FAMILY: Arial, Helvetica, sans-serif;
$FONT_SIZE: 16px;

/* SHAPES */
$PADDING: 20px;
