<ion-content>
  <!-- Container of all the pages -->
  <div class="page-container">
    <!-- Header of the page -->
    <app-header></app-header>

    <!-- Sections -->
    <section>
      <div class="person-avatar"></div>
      <div class="header-title">Lorem, ipsum.</div>
      <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi eaque, doloremque odit ipsum, sunt temporibus expedita molestias pariatur magnam, dicta quae quo. Quaerat a distinctio consequuntur aliquid obcaecati, recusandae odit. Magni esse placeat laborum inventore doloribus incidunt beatae rerum non!</div>

      <!-- Button of a section -->
      <button>Read more Poems</button>
    </section>


    <!-- Social media sites links -->
    <section class="secondary">
      <div class="header-title">Social Media</div>

      <div class="description">The description of the this website.</div>

      <div class="social-handles">
        <a class="social-handle" href="https://instagram.com/ek_is_leeu" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a>
        <a class="social-handle" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a>
        <a class="social-handle" target="_blank"><ion-icon name="logo-google"></ion-icon></a>
      </div>
    </section>
  </div>
</ion-content>
